:root {
  --background-color-1: #ffffff;
  --background-color-2: #2f303a;
  --background-color-3: #f5f4fa;
  --text-color-1: #757575;
  --text-color-2: #ffffff;
  --hover-and-button-color: #2196f3;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* Utils */
.list {
  list-style: none;
}

.invisible {
  display: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 0.5);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
/* Logo */
.logo {
  text-decoration: none;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.03em;
  text-align: left;
}

.logo--color {
  color: var(--hover-and-button-color);
}

/* Fieldset-standard */
.fieldset-standard {
  position: relative;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset-standard:has(input:focus) {
  border-color: var(--hover-and-button-color);
}
/* Input-standart */
.input-standard {
  border: 0;
  background-color: transparent;
}

.input-standard:focus {
  outline: 0;
}

.input--coment {
  width: 414px;
  height: 96px;
  resize: none;
  padding: 0;
}

.input--coment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/* Header */
.header {
  background-color: var(--background-color-1);
  border-bottom: 1px solid #ececec;
  padding-block: 24px;
}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  color: var(--background-color-2);
  margin-right: 93px;
  vertical-align: top;
}

.header__navigation {
  flex-grow: 1;
}

.header__navigation-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 46px;
  vertical-align: top;
}

.header__navigation-link {
  color: var(--background-color-2);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: left;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__navigation-link:hover,
.header__navigation-link:focus {
  color: var(--hover-and-button-color);
}

.header__navigation-link--active::after {
  content: " ";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -29px;
  background-color: var(--hover-and-button-color);
  border-radius: 2px;
}

.header__contacts {
  color: var(--text-color-1);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  fill: var(--text-color-1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contacts:hover,
.header__contacts:focus {
  color: var(--hover-and-button-color);
  fill: var(--hover-and-button-color);
}

.header__contacts-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  vertical-align: top;
}

.header__contacts-icon {
  margin-right: 10px;
}
/* Modal */

.modal {
  width: 448px;
  height: 501px;
  background-color: var(--background-color-1);
  margin: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;
}

.modal__close-button {
  background-color: var(--background-color-1);
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

.modal__label {
  position: absolute;
  top: -20px;
  left: -1px;
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: var(--text-color-1);
}

.modal__icon {
  fill: inherit;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 12px;
}

.modal__fieldset:has(input:focus) .modal__icon {
  fill: var(--hover-and-button-color);
}

.modal__fieldset {
  border: 1px solid #21212133;
  padding-block: 11px;
  padding-left: 12px;
  margin-bottom: 28px;
}

.modal__fieldset--coment-box {
  padding: 12px 16px;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.modal__checkbox-label {
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: var(--text-color-1);
  position: relative;
  padding-left: 37px;
  cursor: pointer;
}

.modal__terms-checkbox {
  position: absolute;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.modal__checkbox-icon {
  position: absolute;
  display: block;
  left: 14px;
  top: 0;
  padding: 0;
  fill: var(--text-color-2);
  background-color: var(--background-color-1);
  border: 1px solid #212121;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__checkbox-label input:checked ~ .modal__checkbox-icon {
  border-color: var(--hover-and-button-color);
  background-color: var(--hover-and-button-color);
}

.modal__submit {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  padding-block: 10px;
  padding-left: 76px;
  padding-right: 76px;
  color: var(--text-color-1);
  border: 0;
  border-radius: 4px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit:hover,
.modal__submit:focus {
  background-color: var(--hover-and-button-color);
  color: var(--text-color-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* Section-1 */
.section-1-box {
  background-color: var(--background-color-2);
  background: linear-gradient(#2f303a66, #2f303a66),
    url(../images/new_photo.jpg);
  max-width: 1600px;
  background-position: 50% 35%;
  background-size: cover;
  margin: 0 auto;
}

.section-1-header {
  color: var(--text-color-2);
  font-size: 44px;
  line-height: 116%;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 30px;
}

.main-button {
  background-color: var(--background-color-3);
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  letter-spacing: 0.06em;
  text-align: center;
  border-width: 0px;
  cursor: pointer;
  border-radius: 4px;
  padding-block: 10px;
  padding-left: 41px;
  padding-right: 41px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: var(--hover-and-button-color);
  color: var(--text-color-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.section-2-box {
  background-color: var(--background-color-1);
}

.smaller-title {
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: left;
  margin-bottom: 10px;
}

.article {
  color: var(--text-color-1);
  font-size: 14px;
  line-height: 146%;
  letter-spacing: 0.03em;
  text-align: left;
}

.bigger-title {
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.section-3-box {
  background-color: var(--background-color-1);
}

.section-4-box {
  background-color: var(--background-color-3);
}

.section-4-item {
  background-color: var(--background-color-1);
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 10px;
}

.position {
  color: var(--text-color-1);
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-align: center;
}

.section-5-box {
  background-color: var(--background-color-1);
}

.footer-box {
  background-color: var(--background-color-2);
}

.footer__logo {
  color: var(--text-color-2);
}

.address-text {
  color: var(--text-color-2);
  font-style: normal;
  font-size: 14px;
  line-height: 146%;
  letter-spacing: 0.03em;
  text-align: left;
}

.contacts-footer {
  color: var(--text-color-1);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover,
.contacts-footer:focus {
  color: var(--hover-and-button-color);
}

.portfolio-section-box {
  background-color: var(--background-color-1);
}

.filter {
  background-color: var(--background-color-3);
  font-family: inherit;
  color: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 139%;
  letter-spacing: 0.03em;
  text-align: center;
  border-width: 0px;
  border-radius: 4px;
  cursor: pointer;
  padding-block: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:hover,
.filter:focus {
  background-color: var(--hover-and-button-color);
  color: var(--text-color-2);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-section-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-item:hover,
.portfolio-section-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 171%;
  letter-spacing: 0.06em;
  text-align: left;
  margin-bottom: 4px;
  padding-top: 20px;
  padding-left: 24px;
}

.project-type {
  color: var(--text-color-1);
  font-size: 16px;
  line-height: 160%;
  letter-spacing: 0.03em;
  text-align: left;
  padding-left: 24px;
  padding-bottom: 20px;
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-block: 94px;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-1-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 696px;
  align-items: center;
  padding-block: 200px;
  padding-left: auto;
  padding-right: auto;
}

.section-2-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.section-3-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.section-4-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.footer-wrapper {
  display: flex;
  gap: 70px;
  padding-block: 60px;
}

.address-wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-top: 20px;
}

.contacts-footer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.filters-list-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.item {
  flex-basis: calc((100% - 60px) / 3);
}

.border-wrapper {
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.img-block {
  display: block;
}

.icon-box {
  background-color: var(--background-color-3);
  padding-block: 25px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
  border-radius: 4px;
}

.team-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-icon {
  background-color: var(--background-color-1);
  border-radius: 50%;
  max-width: 44px;
  max-height: 44px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon:hover {
  background-color: var(--hover-and-button-color);
  fill: var(--text-color-2);
}

.clients-box {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.client-box {
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-box:hover {
  fill: var(--hover-and-button-color);
  border-color: var(--hover-and-button-color);
}

.title-footer {
  color: var(--text-color-2);
  text-transform: uppercase;
  padding-top: 12px;
  margin-bottom: 20px;
}

.our-socials {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.social-icon-footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  max-width: 44px;
  max-height: 44px;
  fill: var(--text-color-2);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-footer:hover {
  background-color: var(--hover-and-button-color);
}

.box {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-section-item:hover .overlay {
  transform: translateY(0);
}

.overlay > p {
  color: var(--text-color-2);
  padding-left: 24px;
  padding-right: 45px;
  padding-block: 49px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.title-section-3 {
  color: var(--text-color-2);
  text-transform: uppercase;
  padding-block: 27px;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
}

.title-overlay {
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
}

.fieldset-footer {
  padding-block: 13px;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  margin-left: 0;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.input-footer {
  width: 324px;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--text-color-2);
}

.input-footer::placeholder {
  color: #ffffff99;
}

.submit-footer {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 188%;
  letter-spacing: 0.06em;
  text-align: center;
  padding-block: 10px;
  padding-left: 40px;
  padding-right: 26px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-footer:hover,
.submit-footer:focus {
  background-color: var(--hover-and-button-color);
  color: var(--text-color-2);
  fill: var(--text-color-2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer-email-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.send-icon {
  fill: inherit;
  margin-left: 24px;
}

.bigger-gap {
  position: relative;
  margin-left: 8px;
  padding-top: 46px;
}

.footer-label {
  font-weight: 700;
  position: absolute;
  top: 12px;
  padding: 0;
  margin: 0;
}
