:root {
  --background-color-1: #ffffff;
  --background-color-2: #2f303a;
  --background-color-3: #f5f4fa;
  --text-color-1: #757575;
  --text-color-2: #ffffff;
  --hover-and-button-color: #2196f3;
  --border-color: #eeeeee;
  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
/* Utils */
.is-invisible {
  display: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.is-block {
  display: block;
}
/* backdrop */

/* container */

/* section */

/* title-primary */

/* title-secondary */

/* Logo */

/* Fieldset */

/* Header */

/* Modal */

/*  */

/* Section-1 */

/* Section-2 */

/* Section-3 */

/* Section-4 */

/* Section-5 */

/* footer-background */

/* Footer */

/* POrtfolio */

